<!DOCTYPE html>
<html lang="en">
<head>
	@await Html.PartialAsync("MetatagsPartial")
	@await Html.PartialAsync("CssPartial")
</head>
<body>
	@await Html.PartialAsync("HeaderPartial")

	<main>
		<div class="message">
			<div class="centered">
				@RenderBody()
				<h1>Congratulations!</h1>

				<p>If you can see CKEditor below, it means that the installation succeeded. You can now try out your new editor version, see its features,
				and check some of the most useful <a href="#references">resources recommended below</a>.</p>
			</div>
		</div>
		<div class="centered">
			<div id="editor">
				<h2>The three greatest things you learn from traveling</h2>

				<p>Like all the great things on earth traveling teaches us by example. Here are some of the most precious lessons I’ve learned over the years of traveling.</p>

				<h3>Appreciation of diversity</h3>

				<p>Getting used to an entirely different culture can be challenging. While it’s also nice to learn about cultures online or from books, nothing comes close to experiencing <a href="https://en.wikipedia.org/wiki/Cultural_diversity">cultural diversity</a> in person. You learn to appreciate each and every single one of the differences while you become more culturally fluid.</p>

				<figure class="image image-style-side"><img src="sample/img/umbrellas.jpg" alt="Three Monks walking on ancient temple.">
					<figcaption>Leaving your comfort zone might lead you to such beautiful sceneries like this one.</figcaption>
				</figure>

				<h3>Confidence</h3>

				<p>Going to a new place can be quite terrifying. While change and uncertainty makes us scared, traveling teaches us how ridiculous it is to be afraid of something before it happens. The moment you face your fear and see there was nothing to be afraid of, is the moment you discover bliss.</p>
			</div>

			@await Html.PartialAsync("LowbarPartial")
		</div>
	</main>

	<footer>
		@await Html.PartialAsync("FooterPartial")
	</footer>
	@await Html.PartialAsync("ScriptsPartial")
</body>
</html>

