@page
@model PizzaShop.Views.Shared.HeaderPartialModel
@{
}

<div class="centered">
		<h1><a href="https://ckeditor.com/ckeditor-5"><img src="sample/img/logo.svg" alt="WYSIWYG editor - CKEditor 5" /></a></h1>

		<input type="checkbox" id="menu-toggle" />
		<label for="menu-toggle"></label>
		  
		<nav>
			<ul>
				<li><a href="https://ckeditor.com/ckeditor-5">Project homepage</a></li>
				<li><a href="https://ckeditor.com/docs/">Documentation</a></li>
				<li><a href="https://github.com/ckeditor/ckeditor5">GitHub</a></li>
			</ul>
		</nav>
</div>
